## **Preparation**

In [50]:
import pandas as pd

# membaca file iris.csv
iris = pd.read_csv("source/Iris.csv")

In [51]:
#menampilkan 5 baris pertama
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [52]:
#melihat informasi dataset
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

tidak perlu dilakukan cleaning data lagi sebab data yang ada sudah bersih

In [53]:
#menghilangkan kolom yang tidak di perlukan
iris.drop('Id',axis=1,inplace=True)

In [54]:
# memeriksa data
iris.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [55]:
#memisahkan atribut dan label
X = iris[['SepalLengthCm', 'SepalWidthCm','PetalLengthCm','PetalWidthCm']]
y = iris['Species']

In [56]:
# Membagi dataset menjadi data latih & data uji
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=123)

from sklearn.tree import DecisionTreeClassifier

In [57]:
#membuat model decision tree
tree_model = DecisionTreeClassifier()
tree_model =tree_model.fit(X_train, y_train)

In [58]:
#evaluasi model
from sklearn.metrics import accuracy_score

y_pred = tree_model.predict(X_test)
acc_score = round(accuracy_score(y_pred, y_test),3)
print('accuracy :', acc_score)

accuracy : 0.933

**Pengujian**

In [65]:
print(tree_model.predict([[1.2, 1.4, 1.4, 1.3]])[0])

Iris-setosa

c:\Users\Lenovo\miniconda3\envs\sklearn-env\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(