# **Trade-Offs in Missing Data Conventions**

# **Missing Data in Pandas**

* **None:Pythonic missing data**

In [1]:
import numpy as np
import pandas as pd

In [3]:
vals1 = np.array([1, None, 3, 4])
print(vals1)

[1 None 3 4]

In [4]:
for dtype in ['object', 'int']:
    print("dtype =", dtype)
    %timeit np.arange(1E6, dtype=dtype).sum()
    print()

dtype = object
120 ms ± 13 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

dtype = int
4.05 ms ± 757 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

* **Nan: Missing numerical data**

In [5]:
vals2 = np.array([1, np.nan, 3, 4])
vals2.dtype

dtype('float64')

In [6]:
1 + np.nan

nan

In [7]:
0 + np.nan

nan

In [8]:
vals2.sum(), vals2.min(), vals2.max()

(nan, nan, nan)

In [9]:
np.nansum(vals2), np.nanmin(vals2), np.nanmax(vals2)

(8.0, 1.0, 4.0)